body{
    .title-button {
        display:flex;
        justify-content: space-between;
        align-items: center;
        button {
            max-height: 50px;
        }
    }
    h1 {
        margin: 30px;
    }
    .dash-container {
        padding: 40px;
        border: 1px solid #000;
        border-radius: 10px;
        .dash-navigation {
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
            .cta-btn {
                padding: 10px;
                a {
                    background-color: #D3D3D3;
                    color: #000;
                    text-decoration: none;
                    padding: 20px;
                    font-size: 18px;
                    font-style: bold;
                    display:inline-block;
                    border-radius: 10px;
                    width: 115px;
                    text-align: center;
                    border: 1px solid #000;
                    &:hover {
                        color: #fff;
                        border: 1px solid #000;
                    }
                }
            }
        }
    }
    .table {
        border: 1px solid #000;
        .tr{
            display:flex;
            &.tr-header {
                .td {
                    font-size: 16px;
                    padding: 10px;
                    font-weight: bold;
                }
            }
            &.tr-data {
                .td {
                    padding: 10px;
                    border-top: 1px solid #000;
                }
            }
            .td{
                display:flex;
                justify-content: center;
                width:100%;
                &:first-child {
                    border-left: none;
                }
                border-left: 1px solid #000;

            }
        }
    }
}